{ % extends 'base.html' % }
{% block content %}
<section>
    <h1>Practice 1</h1>
    {% for driver in practice_1 %}
    <p>{{driver.driver_name}}</p>
    <p>{{ driver.lap_number }}, {{ driver.lap_time }}</p>
    {%endfor%}
</section>
<section>
    <h1>Practice 2</h1>
    {% for driver in practice_2 %}
    <p>{{driver.driver_name}}</p>
    <p>{{ driver.lap_number }}, {{ driver.lap_time }}</p>
    {%endfor%}
</section>

<section>

    <h1>Qualifying</h1>
    {% for driver in qualifying %}
    <p>{{driver.driver_name}}</p>
    <p>{{ driver.lap_number }}, {{ driver.lap_time }}</p>
    {%endfor%}
</section>

<section>
    <h1>Race</h1>
    {% for driver in race %}
    <p>{{driver.driver_name}}</p>
    <p>{{ driver.lap_number }}, {{ driver.lap_time }}</p>
    {%endfor%}
</section>

{% endblock %}